.events
	height 888px
	.row
		display flex
	.pos-a
		display flex
		// flex-direction column
		top 0
		left 0
		right 0
		bottom 0
	.bigText
		z-index -2
	.paralacs
		z-index -1
	img
		width 100%
		height auto
		border-radius: 8px