section.events.container.pt-5
	.row.h-100
		.w-100.h-100.d-flex
			.w-100.mt-2
				.justify-content-between.d-flex.mt-5
					.w-50.bigText EVENTS
					h2.w-50.textRight UPCOMING<br> EVENTS THIS<br> WEEK
				.d-flex.justify-content-end
					a(href="#").btn.mt-3.mb-3 All events
				.row
					.col-5
					.col-7
						.row.mt-4
							.col-6
								img(src="img/crossfit-img-11.jpg", alt="crossfit")
								h5.pl-4.mt-4 Jerk of the rod
								p.pl-4 Our belief is that while CrossFit isn’t for everyone, anyone can do CrossFit. Come to train with us!
							.col-6
								img(src="img/crossfit-img-12.jpg", alt="crossfit")
								h5.pl-4.mt-4 Birch Competition
								p.pl-4 Forearm strength may be one of the most overlooked necessities in holding a handstand.

		.pos-a(style="pointer-events: none")
			.pos-a.paralacs(style="background-size: contain; background-position: 1% 50%; background-image: url('img/crossfit-img-10.png'); transform: translateY(92.7px);")



