footer
	height 666px
.footer_map
	height 100%
	background #866

input[type="text"], textarea
	width 100%
	max-width 300px
	color #828282
	font-size 12px
	font-weight 300
	padding 8px 12px
	margin 20px 0px 0px 0px
	border none
	border-bottom 1px solid #828282
	background transparent
	outline none
