footer#footer.footer.container-fluid
	.row.h-100
		.col-6.h-100.footer_map
		.col-6
			.col-10.footer_contact
				h2.mt-5 HOW TO<br> CONTACT US
				p.p_big Leave your contact details and we will contact you within an hour for a detailed consultation.
				form(action="#" method="post")
					input(type="text" placeholder="Name" name="your-name")
					br
					input(type="text" placeholder="Name" name="your-name")
					br
					textarea(name="your-message" cols="40" rows="2" placeholder="Message")
				input(type="submit" value="Leave contacts").btn.mt-4.mb-3
				p.mt-4
					b Phone: 
					|  1-(556)-332-89-45
				p
					b Location: 
					|  62 Yukon Street Neenah, WI 54956
				p
					b Open hours: 
					|  Daily, 8:00 am – 9:00 pm
