
section.about.container.pt-5
	.row.about_content
		.justify-content-between.d-flex.pos-r.w-100
			h2.w-50.pt-4_5 WE LOVE<br> OUR WORK
			.bigText.textRight.pos-a.d-block.w-100 GALLERY
	.row.mt-5
		img(src="img/crossfit-gallery-1-768x660.jpg", alt="").col-6
		.col-6.align-content-between.d-flex.flex-wrap
			.row
				img(src="img/crossfit-gallery-2.jpg", alt="crossfit-gallery-2.jpg").col-6
				img(src="img/crossfit-gallery-3.jpg", alt="crossfit-gallery-3.jpg").col-6
			.row
				img(src="img/crossfit-gallery-4.jpg", alt="crossfit-gallery-4.jpg").col-6
				img(src="img/crossfit-gallery-5.jpg", alt="crossfit-gallery-5.jpg").col-6
