html, body
	min-width 888px

body
	background-color: #e1e1e3
	position relative
// 	background #000
// 	background #fff
// 	margin 0
// 	padding 0
// 	min-width 540px
// @font-face
// 	font-family 'fregat'
// 	src url('font/Fregat_regular.otf')

section
	margin-top 64px
	position relative

p
	font-size 12px

.btn
	display inline-block
	padding 12px 24px
	border 1px solid #989697
	border-radius 24px
	font-size 14px
	line-height 18px
	font-weight 300
	color #333333
	transition 0.4s
.btn:hover
	background-color #989697
	color #ffffff

.f-column
	flex-direction column

.textRight
	text-align: right

.text-black
	color: #000000 !important

.pt-4_5
	padding-top: 1.8rem

.p_big
	font-size: 14px
	font-weight: 400
	line-height: 20px

.mt-10
	margin-top 10rem

.d-none2
	display none

.img-fluid
	width: 100%
	height: auto

.pointer
	cursor pointer

.pos-r
	position relative

.pos-a
	position absolute