section.crosfit.container.pt-5
	.row.hard_content
		.justify-content-between.d-flex.pos-r.w-100
			h2.w-50 WHY ARE NOT<br> YOU STILL TRAINING<br> WITH US?
			.bigText.textRight.pos-a.d-block.w-100 HARD
		h5.mt-3.mb-3 CrossFit is the world’s most popular strength<br> and conditioning program.
	.row
		a(href="#").btn.mt-3.mb-3 Train with us
	.pos-a(style="pointer-events: none")
		.pos-a.paralacs.hard_paralacs(style="background-size: contain; background-position: 90% 50%; background-image: url('img/crossfit-img-12.png'); transform: translateY(99.7px);")


