<!DOCTYPE html>
html(lang="ru")
	head
		include head
	body
		include header
		include crosfit
		include about
		include gallery
		include events
		include hard
		include team
		include reviews
		include footer
	script
		//- include ../Build/script.js
	script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")

//- https://ld-wp73.template-help.com/monstroid2/skins/monsterteam/#section_1
