// @require 'bootstrap_micro'
@require 'global'

@require 'header'

@require 'crosfit'
@require 'about'
@require 'gallery'
@require 'events'
@require 'hard'
@require 'team'
@require 'reviews'
@require 'footer'

// @require 'main_screen_mini'
// @require 'pages'