section.team.container.pt-5
	.row.about_content
		.justify-content-between.d-flex.pos-r.w-100
			h2.pt-4_5 TEAM OF OUR<br> EXPERIENCED TRAINERS
			.bigText.textRight.pos-a.d-block.w-100 TEAM
			.textRight.pos-a.d-block.w-100.h-100.pt-5
				a(href="#").btn.mt-3.mb-3 All trainers
	.row.mt-5
		.col-4
			.team_card.m-2.pos-r
				img.team_card_img(src="img/crossfit-team-1a.jpg", alt="crossfit-team")
				.team_card_hover.pos-a.p-3
					h5 Andrew Karnegi
					p Crossfit PRO
		.col-4
			.team_card.m-2.pos-r
				img.team_card_img(src="img/crossfit-team-2a.jpg", alt="crossfit-team")
				.team_card_hover.pos-a.p-3
					h5 Margaret Techer
					p TRX
		.col-4
			.team_card.m-2.pos-r
				img.team_card_img(src="img/crossfit-team-3a.jpg", alt="crossfit-team")
				.team_card_hover.pos-a.p-3
					h5 Bredley Henderson
					p Fitness treiner
