.team
	height 888px

	.bigText
		z-index -2

.team_card
	border-radius 8px
	overflow hidden

.team_card_img
	width 100%

.team_card_hover
	display block
	height 77px
	width 100%
	color #ffffff
	opacity 0
	bottom 0
	left 0
	right 0
	transition opacity 0.4s
	z-index 12
	background-color rgba(0, 0, 0, 0.6)

.team_card:hover .team_card_hover
	opacity 1